<h1>Applicants#show</h1>
<br>


<strong>ID</strong><%= @applicant.ap_code %><br />
<strong>Name</strong><%= @applicant.ap_name %><br />
<strong>Address</strong><%= @applicant.ap_addr %><br />
<strong>Sex</strong><%= @applicant.ap_sex %><br />
<strong>Education</strong><%= @applicant.ap_ed %><br />
<strong>Major</strong><%= @applicant.ap_maj %><br />


<%= link_to 'Back', new_applicant_path %>
